In [1]:
import pandas as pd

In [3]:
netflix_data = pd.read_csv(r"C:\Users\user\Downloads\NetflixViewingHistory.csv")

In [4]:
netflix_data

                                                  Title      Date
0            Russian Doll: Season 2: Station to Station    5/4/22
1                   Russian Doll: Season 2: Brain Drain    5/3/22
2             Russian Doll: Season 2: Coney Island Baby   4/26/22
3                        Russian Doll: Season 2: Nowhen   4/26/22
4     Eternally Confused and Eager for Love: Season ...   4/10/22
...                                                 ...       ...
1967                    The OA: Part I: Chapter 4: Away  12/22/16
1968                The OA: Part I: Chapter 3: Champion  12/22/16
1969            The OA: Part I: Chapter 2: New Colossus  12/22/16
1970              The OA: Part I: Chapter 1: Homecoming  12/22/16
1971                                 The Imitation Game  12/21/16

[1972 rows x 2 columns]

In [18]:
print (netflix_data.head())

                                               Title     Date
0         Russian Doll: Season 2: Station to Station   5/4/22
1                Russian Doll: Season 2: Brain Drain   5/3/22
2          Russian Doll: Season 2: Coney Island Baby  4/26/22
3                     Russian Doll: Season 2: Nowhen  4/26/22
4  Eternally Confused and Eager for Love: Season ...  4/10/22

In [5]:
len(netflix_data)

1972

In [6]:
netflix_data.shape[1]

2

In [7]:
netflix_data["Title"]

0              Russian Doll: Season 2: Station to Station
1                     Russian Doll: Season 2: Brain Drain
2               Russian Doll: Season 2: Coney Island Baby
3                          Russian Doll: Season 2: Nowhen
4       Eternally Confused and Eager for Love: Season ...
                              ...
1967                      The OA: Part I: Chapter 4: Away
1968                  The OA: Part I: Chapter 3: Champion
1969              The OA: Part I: Chapter 2: New Colossus
1970                The OA: Part I: Chapter 1: Homecoming
1971                                   The Imitation Game
Name: Title, Length: 1972, dtype: object

In [8]:
netflix_data["Title"].apply(lambda title: "Designated Survivor" in title)

0       False
1       False
2       False
3       False
4       False
        ...
1967    False
1968    False
1969    False
1970    False
1971    False
Name: Title, Length: 1972, dtype: bool

In [10]:
#How many times was an episode of the show Designated Survivor watched according to the data?
netflix_data["Title"].apply(lambda title: "Designated Survivor" in title).sum()

10

In [11]:
netflix_data["Title"].apply(lambda title: "Bridgerton" in title)

0       False
1       False
2       False
3       False
4       False
        ...
1967    False
1968    False
1969    False
1970    False
1971    False
Name: Title, Length: 1972, dtype: bool

In [12]:
sum(netflix_data["Title"].apply(lambda title: "Bridgerton" in title))

16

In [16]:
netflix_data.loc[["Bridgerton" in title for title in netflix_data ["Title"]], :]

                                                Title     Date
8     Bridgerton: Season 2: The Viscount Who Loved Me   4/4/22
9                       Bridgerton: Season 2: Harmony   4/3/22
10                   Bridgerton: Season 2: The Choice   4/2/22
11          Bridgerton: Season 2: An Unthinkable Fate  3/31/22
12                      Bridgerton: Season 2: Victory  3/31/22
13         Bridgerton: Season 2: A Bee in Your Bonnet  3/30/22
14             Bridgerton: Season 2: Off to the Races  3/30/22
15               Bridgerton: Season 2: Capital R Rake  3/26/22
409              Bridgerton: Season 1: After the Rain   1/9/21
410                Bridgerton: Season 1: Oceans Apart   1/9/21
411                       Bridgerton: Season 1: Swish   1/9/21
412              Bridgerton: Season 1: The Duke and I   1/9/21
413          Bridgerton: Season 1: An Affair of Honor   1/8/21
414            Bridgerton: Season 1: Art of the Swoon   1/8/21
415           Bridgerton: Season 1: Shock and Delight   1/8/21
416  Bridgerton: Season 1: Diamond of the First Water   1/8/21

In [19]:
netflix_data.loc[["Bridgerton" in title for title in netflix_data["Title"]], "Title"]

8       Bridgerton: Season 2: The Viscount Who Loved Me
9                         Bridgerton: Season 2: Harmony
10                     Bridgerton: Season 2: The Choice
11            Bridgerton: Season 2: An Unthinkable Fate
12                        Bridgerton: Season 2: Victory
13           Bridgerton: Season 2: A Bee in Your Bonnet
14               Bridgerton: Season 2: Off to the Races
15                 Bridgerton: Season 2: Capital R Rake
409                Bridgerton: Season 1: After the Rain
410                  Bridgerton: Season 1: Oceans Apart
411                         Bridgerton: Season 1: Swish
412                Bridgerton: Season 1: The Duke and I
413            Bridgerton: Season 1: An Affair of Honor
414              Bridgerton: Season 1: Art of the Swoon
415             Bridgerton: Season 1: Shock and Delight
416    Bridgerton: Season 1: Diamond of the First Water
Name: Title, dtype: object

In [20]:
netflix_data.loc[["Bridgerton" in title for title in netflix_data["Title"]], :].sort_values("Date", ascending=False)

                                                Title     Date
8     Bridgerton: Season 2: The Viscount Who Loved Me   4/4/22
9                       Bridgerton: Season 2: Harmony   4/3/22
10                   Bridgerton: Season 2: The Choice   4/2/22
11          Bridgerton: Season 2: An Unthinkable Fate  3/31/22
12                      Bridgerton: Season 2: Victory  3/31/22
13         Bridgerton: Season 2: A Bee in Your Bonnet  3/30/22
14             Bridgerton: Season 2: Off to the Races  3/30/22
15               Bridgerton: Season 2: Capital R Rake  3/26/22
409              Bridgerton: Season 1: After the Rain   1/9/21
410                Bridgerton: Season 1: Oceans Apart   1/9/21
411                       Bridgerton: Season 1: Swish   1/9/21
412              Bridgerton: Season 1: The Duke and I   1/9/21
413          Bridgerton: Season 1: An Affair of Honor   1/8/21
414            Bridgerton: Season 1: Art of the Swoon   1/8/21
415           Bridgerton: Season 1: Shock and Delight   1/8/21
416  Bridgerton: Season 1: Diamond of the First Water   1/8/21

In [21]:
#When was the last date of watching the show Bridgerton according to the data?
netflix_data.loc[["Bridgerton" in title for title in netflix_data["Title"]], :].sort_values("Date", ascending=False)["Date"].iloc[0]

'4/4/22'

In [29]:
#When was the starting date of watching the show Bridgerton according to the data?
netflix_data.loc[["Bridgerton" in title for title in netflix_data["Title"]], :].sort_values("Date",ascending=True )["Date"].iloc[0]

'1/8/21'

In [30]:
#What is the title of the last episode of the show Bridgerton watched according to the data?
netflix_data.loc[["Bridgerton" in title for title in netflix_data["Title"]], :].sort_values("Date", ascending=False)["Title"].iloc[0]

'Bridgerton: Season 2: The Viscount Who Loved Me'

In [31]:
#What is the title of the first episode of the show Bridgerton watched according to the data?
netflix_data.loc[["Bridgerton" in title for title in netflix_data["Title"]], :].sort_values("Date", ascending=True)["Title"].iloc[0]

'Bridgerton: Season 1: An Affair of Honor'